
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 70%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.header {
    text-align: center;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 3px solid black;
}

.about,
.skills,
.projects,
.contact {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1 {
    color: #333;
}

h2 {
    color: #444;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}